
DATABASE_URL=postgres://postgres:yourpassword@localhost:5432/tasks
SUPABASE_URL=https://zpqbczisblepzgseyips.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwcWJjemlzYmxlcHpnc2V5aXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNjEyNjcsImV4cCI6MjEwMzgzNzI2N30.8C8qltRba1VTvVNbu8iqMRwswQjUbZJzq48REblF2ZE
PORT=3000